<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>会社概要設定</title>
	</head>
	
	<body>
		<div class="nagoyameshi-wrapper">
			
			<!-- ヘッダー -->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 nagoyameshi-container">
					<div class="row justify-content-center">
						<div class="col-md-8 col-xl-5 col-lg-6">
							
							<h1 class="text-center">会社概要設定</h1>
							
							<div class="d-flex justify-content-end align-items-end mb-3">
								<div>
									<a th:href="@{/admin/settings/profile/edit}">編集</a>
								</div>
							</div>
							
							<div th:if="${successMessage}" class="alert alert-success">
								<span th:text="${successMessage}"></span>
							</div>

							
							<div class="container mb-4">
								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">会社名</span>
									</div>
									
									<div class="col">
										<span th:text="${profile.getName()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">代表者</span>
									</div>
									
									<div class="col">
										<span th:text="${profile.getPresident()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">設立日</span>
									</div>
									
									<div class="col">
										<span th:text="${profile.getBirthday()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">郵便番号</span>
									</div>
									
									<div class="col">
										<span th:text="${profile.getPostalCode()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">住所</span>
									</div>
									
									<div class="col">
										<span th:text="${profile.getAddress()}"></span>
									</div>
								</div>

								<div class="row pb-2 mb-2 border-bottom">
									<div class="col-4">
										<span class="fw-bold">事業内容</span>
									</div>
									
									<div class="col">
										<span th:text="${profile.getBusiness()}"></span>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
			
			<!-- フッター -->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>